{% schema %}
{
  "name": "Img Txt Link",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titre",
      "default": "Bloc + Image"
    },
    {
      "type": "textarea",
      "id": "under_text",
      "label": "Sous titre",
      "default": "Text de description"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Lien du produit/Collection"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texte du Button",
      "default": "Voir le lien"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image Desktop 1920x720"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "vh",
      "label": "Marge supérieure en % Hauteur",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Image + Texte + Lien"
    }
  ]
}
{% endschema %}

<section id="hats_img_text" style="margin-top:{{ section.settings.margin-top }}vh">
  <div class="container">
    <div class="image">
      <a href="{{ section.settings.button_link }}" target="_blank" alt="Voir {{ section.settings.title }}">
        <span class="img" style="background-image: url('{{ section.settings.image | image_url }}')"></span>
      </a>
    </div>
    <div class="text">
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.under_text }}</p>
      <a href="{{ section.settings.button_link }}" target="_blank" class="btn" alt="Voir {{ section.settings.button_text }}">{{ section.settings.button_text }}</a>
    </div>
  </div>
</section>
