{% schema %}
{
  "name": "Colored Line Footer",
  "settings": [
    {
      "type": "text",
      "id": "footer_text",
      "label": "Footer Text",
      "default": "copyrigth 2021"
    },
    {
      "type": "color",
      "id": "line_color_1",
      "label": "Line Color 1",
      "default": "#63564b"
    },
    {
      "type": "color",
      "id": "line_color_2",
      "label": "Line Color 2",
      "default": "#fcf6e6"
    },
    {
      "type": "color",
      "id": "line_color_3",
      "label": "Line Color 3",
      "default": "#ff8112"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "vh",
      "label": "Marge suppérieure en % Hauteur",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Colored Line Footer"
    }
  ]
}
{% endschema %}

<section id="hats_colored_footer" style="margin-top:{{ section.settings.margin-top }}vh">
  <div class="footer_text">&copy; <span id="currentYear"></span> {{ section.settings.footer_text }}</div>
  <div class="colored_footer_{{ section.id }}">
    {% for i in (1..3) %}
      {% assign color_variable = 'line_color_' | append: i %}
      {% assign color = section.settings[color_variable] %}
      <span style="background-color: {{ color }};"></span>
    {% endfor %}
  </div>
</section>

{% style %}
    #hats_colored_footer{
      background-color: #fff;
    }
    .colored_footer_{{ section.id }} {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .colored_footer_{{ section.id }} span {
      height: 12px;
      z-index: 2;
    }
    .footer_text{
      text-align: center;
      font-size: 10px;
      font-style: italic;
    }
{% endstyle %}

<script>
  document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
