{% schema %}
{
  "name": "Colored Line",
  "settings": [
    {
      "type": "color",
      "id": "line_color_1",
      "label": "Line Color 1",
      "default": "#63564b"
    },
    {
      "type": "color",
      "id": "line_color_2",
      "label": "Line Color 2",
      "default": "#fcf6e6"
    },
    {
      "type": "color",
      "id": "line_color_3",
      "label": "Line Color 3",
      "default": "#ff8112"
    },
    {
      "type": "color",
      "id": "line_color_4",
      "label": "Line Color 4",
      "default": "#fec18c"
    },
    {
      "type": "color",
      "id": "line_color_5",
      "label": "Line Color 5",
      "default": "#1AAA9A"
    },
    {
      "type": "image_picker",
      "id": "image_after",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "margin-top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "vh",
      "label": "Marge suppérieure en % Hauteur",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Colored Line (Tokyo Parade)"
    }
  ]
}
{% endschema %}

<section id="hats_end_banner" style="margin-top:{{ section.settings.margin-top }}vh">
  <div class="end-bann_{{ section.id }}">
    {% for i in (1..5) %}
      {% assign color_variable = 'line_color_' | append: i %}
      {% assign color = section.settings[color_variable] %}
      <span style="background-color: {{ color }};"></span>
    {% endfor %}
  </div>
</section>

<style>
  .end-bann_{{ section.id }} {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .end-bann_{{ section.id }} span {
    height: 12px;
    z-index: 2;
  }

  {% if section.settings.image_after and section.settings.image_after != 0%}
    .end-bann_{{ section.id }}:after {
      background-image: url({{ section.settings.image_after | image_url }});
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #0000;
      width: 20vh;
      height: 20vh;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1 !important;
      bottom: 0vw;
      transform-origin: center center;
      top: unset;
      right: 0;
    }
  {% endif %}
</style>
