{% schema %}
{
  "name": "TYLT - Matsuri Artiste",
  "settings": [
    {
      "type": "text",
      "id": "titre",
      "label": "Titre"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Zone de texte"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Artistes",
      "limit": 40,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Nom de l'artiste",
          "default": "Didier Margoulin"
        },
        {
          "type": "image_picker",
          "id": "artiste_image",
          "label": "Image de l'artiste"
        },
        {
          "type": "url",
          "id": "artiste_link",
          "label": "URL de l'artiste"
        },
        {
          "type": "select",
          "id": "categorie",
          "label": "Catégorie",
          "default": "Artiste",
          "options": [
            {
              "value": "Artiste",
              "label": "Artiste"
            },
            {
              "value": "Artisant",
              "label": "Artisant"
            },
            {
              "value": "Gastronomie",
              "label": "Gastronomie"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TYLT - Matsuri Artiste"
    }
  ]
}
{% endschema %}

<section class="tylt_matsuri_artiste">
  <div class="tylt_matsuri_artiste__text">
    <h2>{{ section.settings.titre }}</h2>
    <span class="tylt_matsuri_artiste__text__container">{{ section.settings.paragraph }}</span>
  </div>
  <div class="tylt_matsuri_artiste__artistes">
    {% for block in section.blocks %}
      <div
        data-aos="fade-up"
        class="tylt_matsuri_artiste__artistes__item "
      >
        <div class="tylt_matsuri_artiste__artistes__item__inner {{ block.settings.categorie }}">
          <a href="{{ block.settings.artiste_link }}" target="_blank" rel="noopener noreferrer">
            <img src="{{ block.settings.artiste_image | image_url }}" alt="{{ block.settings.collection_title }}">
            <h3 class="name">{{ block.settings.text }}</h3>
            <span class="info">{{ block.settings.categorie }}</span>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.tylt_matsuri_artiste__artistes__item__inner').forEach((el) => {
      const randomRotate = Math.floor(Math.random() * 7) - 3;
      const randomTop = (Math.floor(Math.random() * 31) - 15) + 'px';
      el.style.transform = `rotate(${randomRotate}deg)`;
      el.style.top = randomTop;
      el.style.position = 'relative';
    });
  });
</script>
