<script>
  document.addEventListener('DOMContentLoaded', function () {
    AOS.init();
  });
</script>

<footer class="tylt_custom_footer">
  <section class="tylt_custom_footer__top">
    a
  </section>
  <section class="tylt_custom_footer__middle" style="background-image: url('{{ section.settings.image-bg-middle | image_url }}');">


  </section>
  <section class="tylt_custom_footer__bottom">
    <div class="tylt_custom_footer__copyright">
      &copy; {{ 'now' | date: '%Y' }}
      {{ shop.name }} - Tous droits réservés
      <span class="tylt_custom_footer__dev">
        - Site développé par <a href="https://le-tengu.fr" target="_blank" rel="noopener">A3PROD</a> -&nbsp;
      </span>
    </div>
    {% if section.settings.menu != blank %}
      <nav class="tylt_custom_footer__nav">
        <ul>
          {% for link in linklists[section.settings.menu].links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </section>
</footer>

{% schema %}
{
  "name": "TYLT - Footer",
  "presets": [
    {
      "name": "TYLT - Footer"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image-bg-middle",
      "label": "Image de fond (section milieu)"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu du footer"
    }
  ]
}
{% endschema %}
