{% schema %}
{
  "name": "TYLT - TrImgJules",
  "settings": [
    {
      "type": "image_picker",
      "id": "background",
      "label": "Images background"
    },
    {
      "type": "image_picker",
      "id": "image_one",
      "label": "Images One"
    },
    {
      "type": "image_picker",
      "id": "image_two",
      "label": "Images Two"
    },
    {
      "type": "image_picker",
      "id": "image_tri",
      "label": "Images Tri"
    },
    {
      "type": "image_picker",
      "id": "comp_image_one",
      "label": "Gros Texte"
    },
    {
      "type": "image_picker",
      "id": "comp_image_two",
      "label": "Hand Made"
    }
  ],
  "presets": [
    {
      "name": "TYLT - Triple Images Jules"
    }
  ]
}
{% endschema %}

<section
  class="tylt_triple_img_jules"
  style="background-image: url('{{ section.settings.background | image_url }}');"
>
  <div class="tylt_triple_img_jules__container">
    <span
      data-aos="fade-up"
      data-aos-delay="100"
      class="tylt_triple_img_jules__container__item"
    >
      <a href="https://www.jules.com/fr-fr/p/100740310100.html" target="_blank" aria-label="Voir sur le site de jules" alt="Voir sur le site de jules">
        <span
          class="tylt_triple_img_jules__container__item_rotate"
          style="background-image:url('{{ section.settings.image_one | image_url }}')"
        ></span
      ></a>
    </span>
    <span
      data-aos="fade-up"
      data-aos-delay="200"
      class="tylt_triple_img_jules__container__item"
      ><a href="https://www.jules.com/fr-fr/p/100740711333.html" target="_blank" aria-label="Voir sur le site de jules" alt="Voir sur le site de jules">
        <span
          class="tylt_triple_img_jules__container__item_rotate"
          style="background-image:url('{{ section.settings.image_two| image_url }}')"
        ></span
      ></a>
    </span>
    <div class="tylt_triple_img_jules__container__item last">
      <span
        class="tylt_triple_img_jules__container__item last_image"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <a
          href="https://www.jules.com/fr-fr/p/100740518800.html"
          target="_blank"
          aria-label="Voir sur le site de jules" alt="Voir sur le site de jules"
        >
          <span
            style="background-image:url('{{ section.settings.image_tri | image_url }}')"
          ></span
        ></a>
      </span>
      <div
        data-aos="fade-left"
        data-aos-delay="300"
        class="tylt_triple_img_jules__container__item last_comp_one"
        style="background-image:url('{{ section.settings.comp_image_one | image_url }}')"
      ></div>
      <div
        data-aos="fade-up"
        data-aos-delay="400"
        class="tylt_triple_img_jules__container__item last_comp_two"
        style="background-image:url('{{ section.settings.comp_image_two | image_url }}')"
      ></div>
    </div>
  </div>
</section>
